* {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

.btn,
.hov {
  display: flex;
  color: white;
  font-size: 30px;
  background-color: #363439;
  border-radius: 10px;
  height: 65px;
  text-align: center;
  position: relative;
  transition: all 0.2s;
}

.hov:hover {
  cursor: pointer;
  transform: scale(1.1);
  background-image: linear-gradient(to left, #ffafbd, #ffc3a0);
}

.reset {
  background-color: #a7aab1;
}

p {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.result,
.result2 {
  text-align: right;
  background-color: black;
  width: 100%;
  padding-right: 20px;
}

.operator {
  background-color: #fe8e00;
}

.calculator {
  border-radius: 10px;
  background-color: black;
  margin: 40px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 10px;
  grid-auto-rows: minmax(10px, auto);
  padding: 30px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 8px 16px -8px,
    rgba(0, 0, 0, 0.024) 0px -6px 16px -6px;
}

.result {
  grid-column: 1/4;
  grid-row: 1;
}

.reset {
  grid-column: 4;
  grid-row: 1;
}

.seven {
  grid-column: 1;
  grid-row: 2;
}

.eight {
  grid-column: 2;
  grid-row: 2;
}

.nine {
  grid-column: 3;
  grid-row: 2;
}

.plus {
  grid-column: 4;
  grid-row: 2;
}

.four {
  grid-column: 1;
  grid-row: 3;
}

.five {
  grid-column: 2;
  grid-row: 3;
}

.six {
  grid-column: 3;
  grid-row: 3;
}

.minus {
  grid-column: 4;
  grid-row: 3;
}

.one {
  grid-column: 1;
  grid-row: 4;
}

.two {
  grid-column: 2;
  grid-row: 4;
}

.three {
  grid-column: 3;
  grid-row: 4;
}

.multi {
  grid-column: 4;
  grid-row: 4;
}

.zero {
  grid-column: 1/3;
  grid-row: 5;
}

.equal {
  grid-column: 3;
  grid-row: 5;
}

.divide {
  grid-column: 4;
  grid-row: 5;
}
